n8n-workflows/email-verification-workflow-fixed.json
{
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dd84ddb461bd7350e2f644a1cd58b83c9a6031a36291a13a1fef0ba9e564fd3c"
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-email",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b0eadeb4-37f0-4818-b919-9f807a9efbd3",
      "name": "Email Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [640, 260],
      "webhookId": "generic-email-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "validate-to",
              "leftValue": "={{ $json.to }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            },
            {
              "id": "validate-subject",
              "leftValue": "={{ $json.subject }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            },
            {
              "id": "validate-body",
              "leftValue": "={{ $json.body }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8c89b428-1e0f-4de2-8b73-2912d89635e0",
      "name": "Validate Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [860, 260]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sender-name",
              "name": "senderName",
              "value": "Voice Vanguard Vault",
              "type": "string"
            },
            {
              "id": "to-email",
              "name": "toEmail",
              "value": "={{ $json.to }}",
              "type": "string"
            },
            {
              "id": "email-subject",
              "name": "subject",
              "value": "={{ $json.subject }}",
              "type": "string"
            },
            {
              "id": "email-body",
              "name": "body",
              "value": "={{ $json.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a8027b96-dd48-4001-8fdd-8522b0b11df9",
      "name": "Prepare Email Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1080, 180]
    },
    {
      "parameters": {
        "operation": "send",
        "sendTo": "={{ $json.toEmail }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.body }}",
        "options": {
          "senderName": "={{ $json.senderName }}",
          "isBodyHtml": true
        }
      },
      "id": "2c1f607d-3ca7-438f-a043-4f2fccbc3929",
      "name": "Send Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1300, 180],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-oauth-credentials",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success-status",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "success-message",
              "name": "message",
              "value": "Email sent successfully via Gmail API",
              "type": "string"
            },
            {
              "id": "message-id",
              "name": "messageId",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "recipient",
              "name": "recipient",
              "value": "={{ $('Prepare Email Data').item.json.toEmail }}",
              "type": "string"
            },
            {
              "id": "sent-at",
              "name": "sentAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3a44a8a2-1eaa-45c3-ae59-1d14a2967582",
      "name": "Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1520, 180]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "error-status",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "error-message",
              "name": "error",
              "value": "Missing required fields: to, subject, and body are required",
              "type": "string"
            },
            {
              "id": "error-code",
              "name": "errorCode",
              "value": "VALIDATION_ERROR",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "fa030399-610f-4229-8257-b2286b8eaf20",
      "name": "Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1080, 340]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "gmail-error-status",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "gmail-error-message",
              "name": "error",
              "value": "Failed to send email via Gmail API: {{ $json.error?.message || 'Unknown error' }}",
              "type": "string"
            },
            {
              "id": "gmail-error-code",
              "name": "errorCode",
              "value": "GMAIL_API_ERROR",
              "type": "string"
            },
            {
              "id": "gmail-error-details",
              "name": "details",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "e8c7b91f-3d2a-4f6b-9876-543210fedcba",
      "name": "Gmail Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1300, 340]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              }
            ]
          }
        }
      },
      "id": "f8b45a8b-74af-4f9c-a3e2-0548aaa27765",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1740, 260]
    }
  ],
  "connections": {
    "Email Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Prepare Email Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Email Data": {
      "main": [
        [
          {
            "node": "Send Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Gmail": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Gmail Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Error Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}